.main{
    width: 100%;
    height: 70px;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    
}
.logo{
    margin-left: 100px;
}
.menu{
    display: flex;
    margin-left: 290px;
    gap: 25px;
}
.menu p{
    font-family: 'Popins',sans-serif;
}
.light{
    margin-left: 50px;
    width:50px;
}
.start{
    display: flex;
    width:100%;
    height: 500px;
    background-color: rgba(255, 247, 244, 1);
}
.digital{
    margin-left: 15px;
    margin-top: 85px;
    height: 300px;
    /* background-color: blueviolet; */
    width: 350px;
}
.digital h1{
    margin-left: 15px;
    font-family: 'Popins',sans-serif;
}
.digital p{
    font-family: 'Popins',sans-serif;
    margin-left: 15px;
}
.digital button{
    box-shadow: 0px 0px 0.5px 2px;
    border: none;
    color:white;
    background-color: rgba(255, 83, 0, 1);
    border-radius: 10px;
    width: 150px;
    height: 35px;
    margin-left: 80px;
}
.image{
    margin-left: 50px;
    margin-top: 80px;
    width: 500px;
    height: 300px;
    /* background-color: lightgrey; */
}
.menu-btn{
    display: none;
}
.idea-making{
    width: 100%;
    height: 590px;
    /* background-color: blue; */
    display: flex;
}
.image2{
    margin-left: 15px;
    margin-top: 15px;
    width: 390px;
    height: 350px;
    /* background-color: blueviolet; */

}
.image2 img{
    margin-top: 35px;
}
.about{
    margin-left: 45px;
    margin-top: 15px;
    width: 480px;
    height: 350px;
    /* background-color:lime; */

}
.about span ,h1{
    font-size: 25px;
    margin-left: 20px;
    font-family: 'Popins',sans-serif;
}
.about p{
    margin-left: 15px;
}
.about button{
    margin-left: 120px;
    height: 35px;
    width: 130px;
    border: none;
    background-color: orangered;
    color:white;
}
.cards{
    justify-content: space-around;
    display: flex;
    margin-left: -920px;
    margin-top: 400px;
    width: 920px;
    height: 180px;
    background-color: white;
}
.card1{
    margin-top: 15px;
    margin-left: 15px;
    width: 170px;
    height: 150px;
    border:1px solid lightgrey;
}
.card1 img{
    margin-left: 25px;
}
.card1 p{
    margin-top: -20px;
}

    .information{
        width: 100%;
        height: 500px;
        background-color: rgba(255, 247, 244, 1);
    display: flex;    
    }
.projects{
    width: 400px;
    height: 400px;
    /* background-color: aqua; */
    margin-left: 85px;
    margin-top: 80px;
}   
.projects p{
    margin-left: 15px;
} 
.projects button{
    color: white;
    background-color: rgba(255, 83, 0, 1);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    margin-left: 45px;
}
.numbers{
    display: flex;
    width: 500px;
    /* background-color: lightgray; */
    height: 500px;
    margin-left: 15px;
    flex-wrap: wrap;
    gap: 25px;
}
.c1{

    margin-top: 15px;
    margin-left: 15px;
    width: 200px;
    height: 180px;
    background-color:rgba(255, 255, 255, 1);
}
.c1 h1{
    text-align: center;
}
.c1 p{
    margin-left: 50px;
}
@media(max-width:430px){
    .menu p{
        display: none;
    }
    .light{
        margin-left: -220px;
    }
    .main{
        justify-content: space-between;
        width:100%;
      background-color: blue;
    }
    .menu{
        /* background-color: blueviolet; */
        width: 100%;
    }
    .logo{
        margin-left: 0px;
    }
    .start{

        /* background-color: aqua; */
        margin-top: 200px;
        width: 98%;
        height: 570px;
        flex-direction: column-reverse;
    }
    .image{
        height: 80px;
        margin-left: 0px;
    }
    .digital h1{
        margin-top: 130px;
    }
    .digital{
        width:100%;
    }
    .menu-btn{
        height: 50px;
    margin-left: 100px;       
        display: flex;
    }
    .idea-making{
        flex-direction: column;
    }
    .cards{
        margin-top: -50px;
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }
    .card1{
        width: 90%;
    }
    .card1 img{
        margin-left: 120px;
    }
    .card1 p{
        font-size: 35px;
        margin-left: 120px;
    }
    .information{
        margin-top: 500px;
        flex-direction: column;
    }
    .c1{
        border: 2px solid lightgrey;
        width: 100%;
    }
    .c1 h1{
        font-size: 40px;
    }
    .c1 p{
        margin-left: 140px;
        font-size: 35px;
    }
}